<!DOCTYPE html>
<h2 class="page-header">Edit Poll</h2>
{{#if errors}} {{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}} {{/if}}
<html>
   <head>
      <title>Voting App</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
      <link href="/public/css/main.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <form method="post" action="/polls/edit" class="poll">
          <div id="right">
         <h4> Options </h4>
          <input id="OpenAnswers" type="checkbox" name="OpenAnswers" value="OpenAnswers" class="vis-hidden option">
          <label for="OpenAnswers" class="fullWidthButton">Allow Users to write their own answers.</label>
          <input id="Multiple" type="checkbox" name="Multiple" value="Multiple" class="vis-hidden fullWidthButton option">
          <label for="Multiple" class="fullWidthButton">Allow Users to reply with multiple answers.</label>
          <input id="Change" type="checkbox" name="Change" value="Change" class="vis-hidden fullWidthButton option">
          <label for="Change" class="fullWidthButton">Allow Users to rescind their Vote. </label>
          <input id="SeeResults" type="checkbox" name="SeeResults" value="SeeResults" class="vis-hidden fullWidthButton option">
          <label for="SeeResults" class="fullWidthButton">Allow Users to see the results before voting.</label>
           <input id="Captcha" type="checkbox" name="Captcha" value="Captcha" class="vis-hidden fullWidthButton option">
          <label for="Captcha" class="fullWidthButton">Add reCaptcha to Voting Form to prevent spam and vote tampering.</label>
      </div>
	    <div id="left">
		
		 {{#if errors}} 
			{{#each errors}}
				<div class="alert alert-danger">{{msg}}</div>
			{{/each}} 
		{{/if}}

          <h5> Note: All votes will be wiped upon editing the poll to prevent vote tampering by the poll creator. The  question is also uneditable for this same reason, but is shown here for convenience sake </h5>
         <h3 id="writeQuestion" > </h3>
        <div class="questionContainer"></div>
         <h5> Leave Answers unticked if you wish to delete them. </h5>
         <div id="alreadyDoneAnswers"></div>
         <!--  <input type="text" id="Notes" name="Notes" placeholder="While you cannot edit answers, you can write notes here for typos or other mistakes."> -->
         <input type="text" name="answer" placeholder="Enter reply" class="reply">
        <input type="text" name="answer2" placeholder="Enter reply" class="reply">
        <button type="submit" class="submitButton" style="margin-top: 10px" value="Send order">Submit</button>
     </form>
     <br>
     <form method="post" action="/polls/delete" class="poll">
       <div class="questionContainer"> </div>
       <button type="submit" class="deleteButton" style="margin-top: 10px" value="Send order">Delete Poll (this is permanent, and permanent  is a long time!)</button>
    </form>
       <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
      <script type="text/javascript" src="/controllers/creatingPolls.js"></script>
   </body>
</html>
