<!DOCTYPE html>

<html>
   <head>
      <title>Voting App</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
      <link href="/public/css/main.css" rel="stylesheet" type="text/css">  
   </head>
  <body>
    <h1>A priori knowledge?</h1>
    
    <div class="radio-toolbar">
     <label><input type="radio" value="Yes" name="question">Yes</label>
     <label><input type="radio" value="No" name="question">No</label>
    </div>
    
    <button class="submit btn" value="Send order">Submit</button>
    
    <canvas id="chart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
   <script type="text/javascript" src="/controllers/voteController.client.js"> </script>
    
  </body>
</html>
