<!DOCTYPE html>

<html>
   <head>
      <title >Voting App</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
      <link href="/public/css/main.css" rel="stylesheet" type="text/css">  
   </head>
  <body>
	<form>
		<input type="text" name ="Question" placeholder ="Question"><br>
		<input type="text" placeholder ="Reply One"><br>
		<input type="text" placeholder ="Reply Two"><br>
		<input type="text" placeholder ="Reply Three"><br>
	</form>  
    <button class="submit btn" value="Send order">Submit</button>
    
    <canvas id="chart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
   <script type="text/javascript" src="/controllers/voteController.client.js"> </script>
    
  </body>
</html>