
<!DOCTYPE html>
<html>
<head>
    <title>Voting App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="rescind"> <button type='submit'> Rescind (note, upon voting another poll you will not be able to rescind your vote on this one)</button> </div>
    <div id="resultsContainer">  
    <div id="barContainer">
    <span id="pollQuestion"> </span>
     <span id="totalVotes"> </span>
    <canvas id="bar"></canvas>
     
    </div>
    
    <canvas id="pie"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="/controllers/voteController.client.js"></script>
     <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
</body>
</html>