<!DOCTYPE html>
<h2 class="page-header">View Polls</h2> 
<html>
<head>
    <title>Voting App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet" type="text/css">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="question"> </div>
   <div class="radio-toolbar">
  <div id="responses"> </div>
  </div>
  <div id="votingButton"></div>
    <script type="text/javascript" src="/controllers/voteController.client.js"></script>
</body>
</html>