/* Entire Document */


/*

nav{
  display: table; 
  width: 100%; 
}
.navbar-nav {
     width: 100%;
     text-align: center;
 }
 .navbar-nav > li {
     float: none;
     display: inline-block;
 }
 .navbar-nav > li.navbar-right {
     float: right !important;
 }

.leftNav{
  display: table-cell; 
  width: 200px; 
  background: blue; 
}

.rightNav{
  display: table-cell; 
  width: 200px; 
  background: green; 
}

 .col {
     vertical-align: top;
     display: table-cell;
 }

.buttonToSubmit {
     background: #F7EAE9;
     border: #474343;
     text-align: center;
     text-decoration: none;
     margin-left: 0px;
     border-style: solid;
     border-width: .5px;
     width: 23px;
     padding: 2px;
     border-radius: 0px 4px 4px 0px;
 }
 .buttonToSubmit:hover {
     background: #C4BAB9;
 }

 */

/* Entire Document */

 body {
     background: #EBEBEB;
 }

input[type="checkbox"][readonly] {
  pointer-events: none;
}

 form {
     float: none;
     display: inline;
    text-decoration: none;
   border: none; 
 }



label:not(.exclude) {
     margin: 10px 0px 10px 0px;
     background: #E3C5C3;
     color: #241413;
 }


/* Document spanning Classes */

.fullWidthButton {
     width: 100%;
     text-align: center;
 }

/* Navigation Bar */

 .navbar-center
{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding-top: 10px; 
    display: table;
}

.buttonToSubmit {
     background: #F7EAE9;
     border: #474343;
     text-align: center;
     text-decoration: none;
     margin-left: 0px;
     border-style: solid;
     border-width: .5px;
     width: 25px;
     padding: 2px;
     border-radius: 0px 4px 4px 0px;
 }
 .buttonToSubmit:hover {
     background: #C4BAB9;
 }

.col{
  display: table-cell; 
    vertical-align: top; 
}

#findPolls {
     text-align: center;
     text-decoration: none;
     border: #474343;
     border-style: solid;
     border-width: .5px;
     vertical-align: middle;
 }
/* Create Poll */
 #left {
     overflow: hidden;
     min-height: 50px;
     background: white;
     padding: 30px;
 }

#writeQuestion, .reply {
     display: block;
 }

.reply {
     font-size: 15px;
     width: 100%;
     margin: 5px 0px 5px 0px;
     padding: 5px 0px 0px 0px;
 }

.submitButton{
     background-color: #708773;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 .submitButton:hover:not(.disabled)  {
     background-color: #3E5C42;
 }

#right {
     float: right;
     width: 30%;
     min-height: 50px;
     margin-left: 10px;
     background: white;
     padding: 5px;
 }
 
.vis-hidden {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
 }

 input[type="checkbox"]:checked + label {
     background: #E32F22;
 }
 input[type="radio"]:checked + label {
     background: #E32F22;
 }

 input[type="checkbox"]:hover + label {
     background: #E35B50;
 }
input[type="radio"]:hover + label {
     background: #E35B50;
 }

 
 
 .disabled {
     opacity: 0.6;
     cursor: not-allowed;
 }
 
 /* View Polls */

#anchor form{
 display: block; 
margin: 10px 0px 10px 0px; 
 text-align: center; 
  color: #202126;

}

#anchor form button{
   background: #C1C1E3;
   border: none; 
  padding: 10px; 
  font-size: 18px; 
  text-align: left; 
    border-radius: 10px; 
}

.smallNumber{
  background: #565766;
  color: white; 
  font-size: 12px;
  padding: 0px 10px 0px 10px; 
  border-radius: 8px;
  float: right; 
  vertical-align: bottom;
  margin-top: 10px; 
}

#anchor form button:hover{
  background: #9195E3;
}



 input:focus {
     outline: none;
 }
 button:focus {
     outline: none;
 }

/* Voting */
#results button{
    background: #E3DCB2;
   border: none; 
  padding: 10px; 
  text-align: left; 
    border-radius: 10px; 
}
#results button:hover{
  background: #E3D56B;
}

.voteButton{
  width: 100%;
  padding: 10px; 
}

/* Results*/

#pie{
  float: right; 
  width: 25%; 
}

#barContainer{
  display: block; 
  float: left; 
  width: 75%;

}
#bar{
  float: left; 
  width: 100%;
}

#totalVotes{
  font-size: 16px; 
}
#pollQuestion{
  font-size: 20px; 
}

#rescind button{
    background: #E3DCB2;
   border: none; 
  padding: 10px; 
  text-align: left; 
    border-radius: 10px; 
}
#rescind button:hover{
  background: #E3D56B;
}


/* Media Queries */
@media only screen and (max-width: 800px) {
    .navbar-center
      {
    position: relative;
     width: 100%; 
    padding-top: 10px; 
    display: table;
    }
  #findPolls{
    width: 100%; 
     text-align: center;
     text-decoration: none;
     border: #474343;
     border-style: solid;
     border-width: .5px;
     vertical-align: middle;
    padding: 5px 0px 5px 0px;
 
  }
  
  .buttonToSubmit {
     background: #F7EAE9;
     border: #474343;
     text-align: center;
     text-decoration: none;
     margin-left: 0px;
     border-style: solid;
     border-width: .5px;
     width: 33px;
     padding: 2px;
     border-radius: 0px 4px 4px 0px;
 }
 .buttonToSubmit:hover {
     background: #C4BAB9;
 }
  .navbar-left{
    width: 100%; 
  }
  .navbar-right{
    width: 100%; 
  }
  .navbar-left li {
    width: 49%;
    text-align: center; 
  }
  .navbar-right li {
    width: 49%;
    text-align: center; 
  }
  #left{
    float: none; 
     overflow: hidden;
     min-height: 50px;
     background: white;
     padding: 30px;
  }
  #right{
    float: none; 
    width: 100%; 
    padding: 5px; 
     min-height: 50px;
     background: white;
    margin: 0px 0px 10px 0px; 
      
  }
  #right label{
    padding: 10px 0px 10px 0px; 
  }
  .submitButton{
    width: 100%; 
  }
  
  
}